
  .view{
    position: relative;
    background-color: black;
    height: 25rem;
  }
  .plane{
    width: 300px;
    height: 20px;
    position: absolute;
    transform-style: preserve-3d;
    margin-top: 120rem;
  }
  .plane.main{
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
    animation: rotate 20s infinite linear;
  }
  .plane.main .circle{
    width: 10rem; 
    height: 10rem;
    position: absolute;
    transform-style: preserve-3d; 
    border-radius: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 60px #d655a0, inset 0 0 60px #720545;
  }

  @media (max-width: 992px) {
    .view{
        height: 15rem;
      }

    .plane.main .circle {
        width: 6rem; 
        height: 6rem;
    }
  }
  .plane.main .circle::before, .plane.main .circle::after{
    content: "";
    display: block;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
    width: 10%; height: 10%;
    border-radius: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgb(60, 197, 101);
  }

  @media (max-width: 992px) {
    .plane.main .circle::before, .plane.main .circle::after{
    width: 8%; height: 8%;
    box-shadow: 0 0 5px rgb(60, 197, 101);
  }
  }
 
  .plane.main .circle:nth-child(1){
    transform: rotatez(72deg) rotatex(63.435deg);
  }
  .plane.main .circle:nth-child(2){
    transform: rotatez(144deg) rotatex(63.435deg);
  }
  .plane.main .circle:nth-child(3){
    transform: rotatez(216deg) rotatex(63.435deg);
  }
  .plane.main .circle:nth-child(4){
    transform: rotatez(288deg) rotatex(63.435deg);
  }
  .plane.main .circle:nth-child(5){
    transform: rotatez(360deg) rotatex(63.435deg);
  }
  @keyframes rotate{
    0%{
      transform: rotatex(0) rotatey(0) rotatez(0)
    }
    100%{
       transform: rotatex(360deg) rotatey(360deg) rotatez(360deg)
    }
  }