body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}

a {
  color: #C11200;
}

a:hover {
  color: #6d0b00;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Boton de regreso 
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  right: 15px;
  bottom: 15px;
  background: #C11200;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 7px;
  left: 8px;
}

.back-to-top:hover {
  color: #fff;
  background: #6d0b00;
  transition: background 0.2s ease-in-out;
}

/*--------------------------------------------------------------
# Cargado de la Pagina
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #C11200;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}

@media (max-width: 992px) {
  #header {
    width: 300px;
    background: #fff;
    border-right: 1px solid #e6e9ec;
    left: -300px;
  }
}

@media (min-width: 992px) {
  #main {
    margin-left: 100px;
  }
}

/*--------------------------------------------------------------
# Menu
--------------------------------------------------------------*/
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a {
  display: flex;
  align-items: center;
  color: #45505b;
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: #f2f3f5;
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}

.nav-menu a i {
  font-size: 20px;
}

.nav-menu a span {
  padding: 0 5px 0 7px;
  color: #45505b;
}

@media (min-width: 992px) {
  .nav-menu a {
    width: 56px;
  }
  .nav-menu a span {
    display: none;
    color: #fff;
  }
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #fff;
  background: #C11200;
}



.nav-menu a:hover span, .nav-menu .active > a span, .nav-menu li:hover > a span {
  color: #fff;
}

.nav-menu a:hover, .nav-menu li:hover > a {
  width: 100%;
  background:#6d0b00;
  color: #fff;
}

.nav-menu a:hover span, .nav-menu li:hover > a span {
  display: block;
}

/* Menu en Celular */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #45505b;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #C11200;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/Intro.gif") top right no-repeat;
  background-size: cover;
  position: relative;
}

@media (min-width: 992px) {
  #hero {
    padding-left: 160px;
  }
}

#hero:before {
  content: "";
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero h1 {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #45505b;
}

#hero p {
  color: #45505b;
  margin: 15px 0 0 0;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

#hero p span {
  color: #C11200;
  letter-spacing: 1px;
}

#hero .social-links {
  margin-top: 30px;
}

#hero .social-links a {
  font-size: 24px;
  display: inline-block;
  color: #45505b;
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
}

#hero .social-links a:hover {
  color: #C11200;
}

@media (max-width: 992px) {
  #hero {
    text-align: center;
  }
  #hero h1 {
    font-size: 32px;
    line-height: 36px;
  }
  #hero p {
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #45505b;
}

.section-title h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #C11200;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #728394;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 2px;
  color: #0563bb;
}

.about .content p:last-child {
  margin-bottom: 0;
}


/*--------------------------------------------------------------
# Akills
--------------------------------------------------------------*/
.skills .progress {
  height: 50px;
  display: block;
  background: none;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #45505b;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #f2f3f5;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: .9s;
  background-color: #6d0b00;
}


/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding: 40px 0;
}

.portfolio-details .portfolio-title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-details-carousel .owl-nav, .portfolio-details .portfolio-details-carousel .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.portfolio-details .portfolio-details-carousel .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.portfolio-details .portfolio-details-carousel .owl-dot.active {
  background-color: #0563bb !important;
}

.portfolio-details .portfolio-info {
  padding-top: 45px;
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}

.portfolio-details .portfolio-info p {
  font-size: 15px;
  padding: 15px 0 0 0;
}

@media (max-width: 992px) {
  .portfolio-details .portfolio-info {
    padding-top: 20px;
  }
}


/*--------------------------------------------------------------
# Galeria - Portada
--------------------------------------------------------------*/


#hero1{
  background:url("../img/Galeria/bg.jpg");
   background-size:cover;
   background-position:center center;
   background-attachment:fixed;
 }

 #hero2{
  background:url("../img/AnimationBG.jpg");
   background-size:cover;
   background-position:center center;
   background-attachment:fixed;
 }

 .heroGallery:before  {
  content: "";
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

 .heroGallery{
   text-align:center; 
   position:relative;
   width: 100%;
 }
 
 .innerGallery{
   min-height:600px;
   position: relative;
 }
 
 .copyGallery{
   position:absolute; 
   top:50%; 
   height:10em; 
   margin-top:-5em; 
   width:100%;
 }

 .heroGallery h1 {
  margin: 0;
  font-size: 6rem;
  font-weight: 700;
  line-height: 56px;
}

.heroGallery p {
  margin: 15px 0 0 0;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 992px) {
  .heroGallery {
    text-align: center;
  }
  .heroGallery h1 {
    font-size: 32px;
    line-height: 36px;
  }

  .heroGallery {
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
  }
}
 
 .heroGallery h1 p{ 
   color: #45505b;
 }



/*--------------------------------------------------------------
# Galeria - Asignatura
--------------------------------------------------------------*/

.card--1 .card__img, .card--1 .card__img--hover {
  background-image: url('../img/Galeria/Lab1/Asig.jpg');
}

.card--2 .card__img, .card--2 .card__img--hover {
  background-image: url('../img/Galeria/Lab2/Asig.jpg');
}

.card--3 .card__img, .card--3 .card__img--hover {
  background-image: url('../img/Galeria/Lab3/Asig.jpg');
}

.card--4 .card__img, .card--4 .card__img--hover {
  background-image: url('../img/Galeria/Lab4/Asig.jpg');
}

.card--5 .card__img, .card--5 .card__img--hover {
  background-image: url('../img/Galeria/Lab5/Asig.jpg');
}

.card
{
  margin-top: 15px;
}

.card__like {
  width: 18px;
}

.card__clock {
  width: 15px;
vertical-align: middle;
  fill: #AD7D52;
}
.card__time {
  font-size: 12px;
  color: #AD7D52;
  vertical-align: middle;
  margin-left: 5px;
}

.card__clock-info {
  float: right;
}

.card__img {
visibility: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 235px;
border-top-left-radius: 12px;
border-top-right-radius: 12px;

}

.card__info-hover {
  position: absolute;
  padding: 16px;
width: 100%;
opacity: 0;
top: 0;
}

.card__img--hover {
transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
position: absolute;
  height: 235px;
border-top-left-radius: 12px;
border-top-right-radius: 12px;
top: 0;

}

.card__info {
z-index: 2;
background-color: #fff;
border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
 padding: 16px 24px 24px 24px;
}

.card__category {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
color: #868686;
}

.card__title {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Roboto Slab', serif;
}

.card__by {
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.card__author {
  font-weight: 600;
  text-decoration: none;
  color: #AD7D52;
}

.card:hover .card__img--hover {
  height: 100%;
  opacity: 0.3;
}

.card:hover .card__info {
  background-color: transparent;
  position: relative;
}

.card:hover .card__info-hover {
  opacity: 1;
}

/*--------------------------------------------------------------
# Galeria - Laboratorio
--------------------------------------------------------------*/

.blog-card-entrepressx {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.5);
  margin-bottom: 3%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  height: 21rem;
}

@media (max-width: 992px) {
  .blog-card-entrepressx {
    height: auto;
  }
}


.blog-card-entrepressx a {
  color: inherit;
}
.blog-card-entrepressx a:hover {
  color: #4687ff;
}
.blog-card-entrepressx:hover .photo-entrepressx {
  -webkit-transform: scale(1.3) rotate(3deg);
          transform: scale(1.3) rotate(3deg);
}
.blog-card-entrepressx .meta-entrepressx {
  position: relative;
  z-index: 0;
  height: 200px;
}
.blog-card-entrepressx .photo-entrepressx {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.blog-card-entrepressx .details-entrepressx,
.blog-card-entrepressx .details-entrepressx ul {
  margin: auto;
  padding: 0;
  list-style: none;
}
.blog-card-entrepressx .details-entrepressx {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  -webkit-transition: left 0.2s;
  transition: left 0.2s;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
}
.blog-card-entrepressx .details-entrepressx a {
  -webkit-text-decoration: dotted underline;
          text-decoration: dotted underline;
}
.blog-card-entrepressx .details-entrepressx ul li {
  display: inline-block;
}
.blog-card-entrepressx .details-entrepressx .author-entrepressx:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "";

}

.blog-card-entrepressx .details-entrepressx .date-entrepressx:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "";

}
.blog-card-entrepressx .details-entrepressx .place-entrepressx:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "";

}
.blog-card-entrepressx .details-entrepressx .area-entrepressx:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "";

}
.blog-card-entrepressx .description-entrepressx {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
}
.blog-card-entrepressx .description-entrepressx h1,
.blog-card-entrepressx .description-entrepressx h2 {
  font-family: Poppins, sans-serif;
}
.blog-card-entrepressx .description-entrepressx h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}
.blog-card-entrepressx .description-entrepressx h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #C11200;
  margin-top: 5px;
}
.blog-card-entrepressx .description-entrepressx .read-more-entrepressx {
  text-align: right;
}
.blog-card-entrepressx .description-entrepressx .read-more-entrepressx a {
  color: #C11200;
  display: inline-block;
  position: relative;
}

.read-more-entrepressx a:hover{
  color: #6d0b00;
}

.blog-card-entrepressx .description-entrepressx .read-more-entrepressx a:hover:after {
  
  opacity: 1;
}

.blog-card-entrepressx .description-entrepressx .price-entrepressx {
  text-align: right;
}
.blog-card-entrepressx .description-entrepressx .price-entrepressx a {
  color: #C11200;
  font-size:  1.5rem;
  display: inline-block;
  position: relative;
}
.blog-card-entrepressx .description-entrepressx .price-entrepressx a:after {
  content: "/100";
  color: #6d0b00;
  font-family: FontAwesome;
  font-size: 1.2rem;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  -webkit-transition: margin 0.3s, opacity 0.3s;
  transition: margin 0.3s, opacity 0.3s;
}
.blog-card-entrepressx .description-entrepressx .price-entrepressx a:hover:after {
  margin-left: 5px;
  opacity: 1;
}
.blog-card-entrepressx p {
  position: relative;
  margin: 1rem 0 0;
}
.blog-card-entrepressx p:first-of-type {
  margin-top: 1.25rem;
}
.blog-card-entrepressx p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: #6d0b00;
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}
.blog-card-entrepressx:hover .details-entrepressx {
  left: 0%;
}
@media (min-width: 700px) {
  .blog-card-entrepressx {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    max-width: 700px;
  }
  .blog-card-entrepressx .meta-entrepressx {
    flex-basis: 40%;
    height: auto;
  }
  .blog-card-entrepressx .description-entrepressx {
    flex-basis: 60%;
  }
  .blog-card-entrepressx .description-entrepressx:before {
    -webkit-transform: skewX(-3deg);
            transform: skewX(-3deg);
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .blog-card-entrepressx.alt-entrepressx {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
            flex-direction: row-reverse;
  }
  .blog-card-entrepressx.alt-entrepressx .description-entrepressx:before {
    left: inherit;
    right: -10px;
    -webkit-transform: skew(3deg);
            transform: skew(3deg);
  }
  .blog-card-entrepressx.alt-entrepressx .details-entrepressx {
    padding-left: 25px;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #f7f8f9;
  color: #45505b;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer h3 {
  font-size: 36px;
  font-weight: 700;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}

#footer .social-links {
  margin: 0 0 40px 0;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #C11200;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #6d0b00;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .credits {
  font-size: 13px;
}
